@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@code {

    private string nombre = "";
    private string msj = "";

    private void agregar()
    {
        msj = this.nombre;
    }
}


<div>
    <input type="text" @bind="nombre" placeholder="Escribe tu nombre">
</div>

<div>
    <button @onclick="agregar">Enviar</button>
</div>

<p>@msj</p>
