@page "/"
@using Formulario
@using Tabla
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Registro de Estudiante</h1>

<div class="container text-center">
    <div class="row">
        <Tabla Persona="people" />
        <Formulario OnNombreChanged="HadlePersona" />
    </div>
</div>


@code {

    List<Person> people = new List<Person>();
    private void HadlePersona(Person person)
    {
        people.Add(person);
    }
}
